{% extends 'base.html' %}

{% block title %}
Вход
{% endblock %}

{% block content %}
    {% if form.errors %}
        {% for error, value in form.error_messages.items %}
            <div class="alert alert-warning alert-dismissible fade show">{{ value }}</div>
        {% endfor %}
    {% endif %}
    <form class="form-signin jumbotron" method="post">{% csrf_token %}
          <h1 class="h3 mb-3 font-weight-normal">Вход</h1>
          {{ form.username }}
          {{ form.password }}

          <button class="btn btn-dark btn-block" type="submit">Войти</button>
        </form>
{% endblock %}