{% extends 'base.html' %}
{% load static %}

{% block title %}
Профиль
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Профиль: {{ user.username }}</h1>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-strategy-tab" data-toggle="pill" href="#pills-strategy" role="tab" aria-controls="pills-strategy" aria-selected="true">Стратегия</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-api-tab" data-toggle="pill" href="#pills-api" role="tab" aria-controls="pills-api" aria-selected="false">Api</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-start-tab" data-toggle="pill" href="#pills-start" role="tab" aria-controls="pills-start" aria-selected="false">Запуск</a>
            </li>
        </ul><hr>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-strategy" role="tabpanel" aria-labelledby="pills-strategy-tab">
                <form method="post" id="strategy_form">{% csrf_token %}
                    <div class="form-group">
                        <input class="form-control col-md-3" required min="1" max="100"
                               name="{{ form.purchase_different_coins.name }}"
                               type="number" value="{{ user.strategy.purchase_different_coins }}"
                               id="{{ form.purchase_different_coins.name }}"
                               aria-describedby="{{ form.purchase_different_coins.name }}Help">
                        <small id="{{ form.purchase_different_coins.name }}Help" class="form-text text-muted">
                            Сколько разных видов монет закупать. рекомендуется 3-10
                        </small>
                    </div>
                    <div class="form-group">
                        <div class="form-inline">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Min</div>
                                </div>
                                <input class="form-control" required min="1" max="999"
                                       name="{{ form.drop_range_to_buy_pct_min.name }}"
                                       type="number" value="{{ user.strategy.drop_range_to_buy_pct_min }}"
                                       >
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Max</div>
                                </div>
                                <input class="form-control" required min="1" max="999"
                                       name="{{ form.drop_range_to_buy_pct_max.name }}"
                                       type="number" value="{{ user.strategy.drop_range_to_buy_pct_max }}"
                                       id="{{ form.drop_range_to_buy_pct_max.name }}"
                                       aria-describedby="{{ form.drop_range_to_buy_pct_max.name }}Help">
                            </div>
                        </div>
                        <small id="{{ form.drop_range_to_buy_pct_max.name }}Help" class="form-text text-muted">
                            При какой просадке валюты закупать (10-40% обычно)
                        </small>
                    </div>
                    <div class="form-group">
                        <input class="form-control col-md-3" required min="1" max="99"
                               name="{{ form.deposit_threshold_pct.name }}"
                               type="number" value="{{ user.strategy.deposit_threshold_pct }}"
                               id="{{ form.deposit_threshold_pct.name }}"
                               aria-describedby="{{ form.deposit_threshold_pct.name }}Help">
                        <small id="{{ form.deposit_threshold_pct.name }}Help" class="form-text text-muted">
                            Какую часть депозита не тратить (50%)
                        </small>
                    </div>
                    <div class="form-group">
                        <input class="form-control col-md-3" required min="1" max="999999999999"
                               name="{{ form.capitalization_threshold_usd.name }}"
                               type="number" value="{{ user.strategy.capitalization_threshold_usd }}"
                               id="{{ form.capitalization_threshold_usd.name }}"
                               aria-describedby="{{ form.capitalization_threshold_usd.name }}Help">
                        <small id="{{ form.capitalization_threshold_usd.name }}Help" class="form-text text-muted">
                            С какой капитализацией начинать рассматривать валюты на покупку. обычно более 20 млрд.$
                        </small>
                    </div>
                    <div class="form-group">
                        <input class="form-control col-md-3" required min="1" max="999999999999"
                               name="{{ form.market_volume_threshold_usd_24h.name }}"
                               type="number" value="{{ user.strategy.market_volume_threshold_usd_24h }}"
                               id="{{ form.market_volume_threshold_usd_24h.name }}"
                               aria-describedby="{{ form.market_volume_threshold_usd_24h.name }}Help">
                        <small id="{{ form.market_volume_threshold_usd_24h.name }}Help" class="form-text text-muted">
                            С каким обьемом рынка (пока не использую)
                        </small>
                    </div>
                    <div class="form-group">
                        <input class="form-control col-md-3" required min="1" max="1000"
                               name="{{ form.your_margin_pct.name }}"
                               type="number" value="{{ user.strategy.your_margin_pct }}"
                               id="{{ form.your_margin_pct.name }}"
                               aria-describedby="{{ form.your_margin_pct.name }}Help">
                        <small id="{{ form.your_margin_pct.name }}Help" class="form-text text-muted">
                            Сколько процентов накидывать при продаже (10%)
                        </small>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input"
                                   name="{{ form.crypto_only.name }}"
                                   type="checkbox"
                                   id="{{ form.crypto_only.name }}"
                                   aria-describedby="{{ form.crypto_only.name }}Help"
                                    {% if user.strategy.crypto_only %}
                                   checked
                                    {% endif %}
                            >
                            <div id="{{ form.crypto_only.name }}Help" class="form-text text-muted">
                                Отметьте, чтобы торговать только криптовалютой, иначе + токены, ico
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-dark" type="submit">Сохранить</button>
                </form>
            </div>
            <div class="tab-pane fade" id="pills-api" role="tabpanel" aria-labelledby="pills-api-tab">
                <form method="post" id="api_form">{% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" maxlength="32"
                               name="public_key"
                               type="text" value="{{ user.exchangekey.public_key }}"
                               id="public_key"
                               aria-describedby="public_keyHelp">
                        <small id="public_keyHelp" class="form-text text-muted">
                            Ваш публичный ключ (Api)
                        </small>
                    </div>
                    <div class="form-group">
                        <input class="form-control" maxlength="32"
                               name="secret_key"
                               type="text" value="{{ user.exchangekey.secret_key }}"
                               id="secret_key"
                               aria-describedby="secret_keyHelp">
                        <small id="secret_keyHelp" class="form-text text-muted">
                            Ваш секретный (приватный) ключ
                        </small>
                    </div>
                    <div class="form-group">
                        <select name="exchange_name" id="exchange_name" required form="api_form">
                            {% for exc in user.exchangekey.EXCHANGES %}
                                <option value="{{ exc.0 }}"
                                {% if user.exchangekey.exchange_name == exc.0 %}
                                    selected
                                {% endif %}
                                >{{ exc.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn btn-dark" type="submit">Сохранить</button>
                </form>
            </div>
            <div class="tab-pane fade" id="pills-start" role="tabpanel" aria-labelledby="pills-start-tab">
                <div class="form-group">
                    {% if user.exchangekey.is_started %}
                    <button id="start-bot" status="started" aria-describedby="startBotError" class="btn btn-danger" type="button">Остановить</button>
                    <small id="startBotError" class="badge badge-info"></small>
                    <button id="stat-bot" class="btn btn-outline-info" status="stopped"  type="button">Статистика</button>
                    {% else %}
                    <button id="start-bot" status="stopped" aria-describedby="startBotError" class="btn btn-success" type="button">Запустрить</button>
                    <small id="startBotError" class="badge badge-info"></small>
                    <button id="stat-bot" class="btn btn-outline-info" status="stopped" type="button" style="display: none">Статистика</button>
                    {% endif %}
                </div>
                <div id="stat-box" class="accordion">
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'accounts/profile/profile.js' %}"></script>
{% endblock %}