{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
    {% if form.errors %}
        {% for error, value in form.errors.items %}
            <div class="alert alert-warning alert-dismissible fade show">{{ value }}</div>
        {% endfor %}
    {% endif %}
    <form class="form-signin jumbotron" method="post">{% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
        {{ form.username }}

        {{ form.email }}

        {{ form.password_1 }}

        {{ form.password_2 }}
        <button class="btn btn-dark btn-block" type="submit">Зарегистрироваться</button>
    </form>
{% endblock %}