<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Главная
{% endblock %}

{% block content %}
{#    <div class="jumbotron">#}
{#        <h1 class="display-4">Вас приветствует Cryptodaemon</h1>#}
{#        <hr>#}
{#        <h3>Какой то текст рассказвающий какой наш бот крутой и почему посетитель должен пользоваться именно им.</h3>#}
{#    </div>#}

<!-- video -->
<video autoplay muted loop id="myVideo">
  <source src="{% static "video/blockchain.mp4" %}" type="video/mp4">
</video>

    <!-- some overlay text -->
    <div class="content">
        <h1 class="display-4">CryptoDaemon</h1>
        <h2>Cloud cryptocurrency trading bot</h2>
        <p>More than 20 trading strategies out of the box. All popular exchanges are supported!</p>

        {% if not user.is_authenticated %}
            <h5><a href="{% url 'authenticate' %}">Вход</a></h5>
            <h5><a href="{% url 'registration' %}">Регистрация</a></h5>
        {% else %}
            <h5><a href="{% url 'profile' %}">Профиль</a></h5>
            <h5><a href="{% url 'logout' %}">Выход</a></h5>
        {% endif %}

    </div>


{% endblock %}