html, body{
    height: 100%;
}

footer{
    padding: 10px;
}

.form-signin{
    max-width: 400px;
    margin: auto;
}

.wrapper{
    display: flex;
    min-height: calc(100% - 100px);
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: #0b1933bf;
}

 /* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}